* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, yellowgreen, deepskyblue, violet);
}

.container {
  background: linear-gradient(150deg, #4b4901, #fcf380, #4b4901);
  padding: 30px;
  text-align: center;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 32px;
  margin-bottom: 15px;
  letter-spacing: 1.5px;
  font-weight: 700;
  background: linear-gradient(140deg, yellow, red, yellow);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
}

#count {
  font-size: 60px;
  margin: 20px 0;
  transition: transform 0.2s ease;
}

.animate {
  transform: scale(1.2);
}

.buttons button {
  padding: 10px 18px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  color: white;
}

#increase {
  background: linear-gradient(150deg, green, yellowgreen);
}
#decrease {
  background: linear-gradient(150deg, red, orange);
}
#reset {
  background: linear-gradient(150deg, #2a0b9c, rgb(16, 190, 248));
}
#increase:hover {
  background: linear-gradient(150deg, yellowgreen, green);
}
#decrease:hover {
  background: linear-gradient(150deg, orange, red);
}
#reset:hover {
  background: linear-gradient(150deg, rgb(16, 190, 248), #2a0b9c);
}
